body{
    background-color: rgb(212, 210, 207);
    color: black;
    display: flex;
    margin: 0;
    justify-content: center;

}

.container{
    width: 400px;
    border: 6px solid #000000;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    justify-items: center;
    background-color: rgb(80, 103, 95);
    color: white;
    margin-top: 204px;

}

button{

    border-radius: 8px;
    background-color: #6b865e;
}
button:hover{
    background-color: rgb(255, 255, 255);
}